@charset "utf-8";

body {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#categoryItemsPanel {
    /*display: inline-block;*/
    /*!*min-height: 640px;*!*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*background-color: #67b7ff;*/
    /*border: 5px solid #33645d;*/
}

.categoryPanel {
    display: inline-block;
    background-color: #fff17c;
    /* width: 200px; */
    height: 300px;
    width: 200px;
    border: 5px solid #33645d;
    /* margin: 0 auto; */
    text-align: center;
    color: green;
    font-family: 'Chelsea Market', Georgia, serif;
    padding-bottom: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.category-text-and-count {
    display: inline;
    font-size: 250%;
    /* background-color: #f8fff6; */
    min-height: 75px;
    /* min-width: 280px; */
    max-height: 150px;
    /* max-width: 360px; */
    margin: 0 auto;
    text-align: center;
    color: red;
    font-family: 'Chelsea Market', Georgia, serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.category-img-icon {
    height: 50px;
    width: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
}

/*https://codyhouse.co/category/ux-patterns/*/
/*https://codegeekz.com/free-jquery-shopping-cart-plugins/*/
/*https://codyhouse.co/demo/add-to-cart-interaction/index.html#0*/
