/* Shop CSS */

/* ==================== ##Content Styles ==================== */
.woocommerce div.product form.cart div.quantity label.label-qty,
.product_list_widget .woocommerce-Price-amount,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total .woocommerce-Price-amount, 
.woocommerce .widget_shopping_cart .total .woocommerce-Price-amount,
.woocommerce.widget_shopping_cart .total .woocommerce-Price-amount{
	font-family: $content_font_family;
}

.woocommerce form .form-row .select2-container--default .select2-selection--single,
.woocommerce form .form-row .select2-container--default .select2-selection--single .select2-selection__rendered,
.woocommerce .widget_price_filter .price_slider_amount span,
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count,
.woocommerce .summary .product_meta > span span,
.woocommerce table.shop_table td.product-name .product-quantity, 
.woocommerce .summary .product_meta > span a,
.woocommerce-error, .woocommerce-info, .woocommerce-message{
	color: $content_color;
}

/* ==================== ##End Content Styles ==================== */

/* ==================== ##Header Styles ==================== */
.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce nav.woocommerce-pagination ul li,
ul.wgl-products .price,
.woocommerce .products ul.wgl-products .price,
.woocommerce .products ul.wgl-products .price,
.woocommerce table.shop_table .woocommerce-Price-amount.amount{
	font-family: $header_font_family;
}

.woocommerce .widget_shopping_cart .buttons a:not(.checkout):hover, 
.woocommerce.widget_shopping_cart .buttons a:not(.checkout):hover,
.woocommerce .widget_price_filter .price_slider_amount .price_label,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce .widget_shopping_cart .buttons a.checkout, 
.woocommerce.widget_shopping_cart .buttons a.checkout,
#add_payment_method .cart-collaterals .cart_totals .woocommerce-shipping-destination, 
.woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-destination, 
.woocommerce-checkout .cart-collaterals .cart_totals .woocommerce-shipping-destination,
.woocommerce label,
.woocommerce strong,
.product-categories .cat-item a,
.product-categories a,
.woocommerce .widget_shopping_cart .total strong, .woocommerce.widget_shopping_cart .total strong,
.woocommerce div.product .woocommerce-tabs .panel #respond #commentform label,
.woocommerce .widget_price_filter .price_slider_amount,
.woocommerce div.product .woocommerce-tabs .panel table.shop_attributes th, 
.woocommerce .cart-collaterals .cart_totals table th, 
.woocommerce-page .cart-collaterals .cart_totals table th,
.woocommerce div.product form.cart div.quantity .quantity-wrapper .qty::placeholder,
.woocommerce .summary .product_meta > span,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product form.cart button.button.alt:hover,
.woocommerce ul.cart_list li a, 
.woocommerce table.shop_table td.product-name,
.woocommerce ul.product_list_widget li a,
.woocommerce-tabs .comment-reply-title,
.woocommerce form .form-row label,
.woocommerce table.shop_table tfoot tr th,
.woocommerce ul#shipping_method li label,
#add_payment_method .wc-proceed-to-checkout .button__wrapper .checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout .button__wrapper .checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout .button__wrapper .checkout-button,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.group_table .woocommerce-grouped-product-list-item__price{
	color: $header_font_color;
}

.woocommerce #respond input#submit,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce #respond input#submit:active,
.woocommerce table.shop_table div.quantity .qty,
.woocommerce table.shop_table div.quantity .qty::placeholder,
.woocommerce div.product form.cart div.quantity .qty,
.woocommerce div.product form.cart div.quantity .qty::placeholder{
	color: $header_font_color;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled]{
	color: $header_font_color !important;
}

ul.wgl-products li a.add_to_cart_button, 
ul.wgl-products li a.button,
ul.wgl-products li .added_to_cart.wc-forward,
.woocommerce table.shop_table .woocommerce-Price-amount.amount{
	color: $header_font_color;
}

/* ==================== ##End Header Styles ==================== */

/* ==================== ##Subtitle Styles ==================== */
.woocommerce .widget_shopping_cart .total strong, 
.woocommerce.widget_shopping_cart .total strong,
.product_list_widget .product-title,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a,
.product-categories .cat-item .post_count,
.wgl-theme-header .mini-cart .woocommerce-mini-cart.cart_list.product_list_widget li a,
.woocommerce div.product p.price,
.woocommerce ul.cart_list li a, 
.woocommerce ul.product_list_widget li a, 
.woocommerce-page .cart-collaterals .cart_totals table th,
ul.wgl-products .woocommerce-loop-product__title,
.woocommerce .product_meta > span, 
.woocommerce div.product form.cart .group_table tr td label,
.woocommerce div.product span.price,
.woocommerce table.shop_table thead th,
.checkout.woocommerce-checkout #ship-to-different-address, 
.checkout.woocommerce-checkout #ship-to-different-address span,
.woocommerce div.product .woocommerce-tabs .panel table.shop_attributes th,
.woocommerce .products ul.wgl-products .woocommerce-loop-product__title{
	font-family: $header_font_family;
}
/* ==================== ##End Subtitle Styles ==================== */

/* ==================== ##Theme Color Styles ==================== */
ul.wgl-products .woocommerce-loop-product__title a:hover,
.product_list_widget .woocommerce-Price-amount,
.product_list_widget .product-title:hover,
.product_list_widget li:hover .product-title,
.product-categories a:hover,
.product-categories .current-cat a,
.product_meta > span a:hover,
.wgl-theme-header .mini-cart .woocommerce-mini-cart.cart_list.product_list_widget li a:hover,
.woocommerce div.product form.cart .button:hover:before,
.woocommerce div.product form.cart .reset_variations:before,
.woocommerce form .form-row .required,
.woocommerce table.shop_table td.product-name a:hover,
.woocommerce table.shop_table.cart input.button:hover,
.woocommerce p.stars a,
.woocommerce ul.cart_list li a:hover, .woocommerce ul.product_list_widget li a:hover,
.woocommerce .products ul.wgl-products .woocommerce-loop-product__title a:hover,
.woocommerce .summary .product_meta > span a:hover,
.woocommerce .widget_shopping_cart .buttons a:hover, 
.woocommerce .widget_shopping_cart .total, 
.woocommerce.widget_shopping_cart .buttons a:hover,
.woocommerce.widget_shopping_cart .total,
.woocommerce div.product span.price,
.woocommerce .woocommerce-checkout .type_error .message_icon_wrap .message_icon,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-review-link:hover,
.woocommerce div.product form.cart div.quantity .quantity-wrapper span:hover:before, 
.woocommerce div.product form.cart div.quantity .quantity-wrapper span:hover:after{
	color: $theme_color;
}

ul.wgl-products .price,
.woocommerce div.product p.price,
.woocommerce .cart .button:hover, 
.woocommerce .cart button.button:hover, 
.woocommerce .cart input.button:hover,
.product_list_widget .woocommerce-Price-amount,
.product_list_widget .product-title:hover,
.product_list_widget li:hover .product-title,
.product-categories a:hover,
.product-categories .current-cat a,
.product_meta > span a:hover,
.wgl-theme-header .mini-cart .woocommerce-mini-cart.cart_list.product_list_widget li a:hover,
.woocommerce div.product form.cart .reset_variations:before,
.woocommerce form .form-row .required,
.woocommerce table.shop_table td.product-name a:hover,
.woocommerce table.shop_table.cart input.button:hover,
.woocommerce button.button:hover,
.woocommerce p.stars a,
.woocommerce ul.cart_list li a:hover, .woocommerce ul.product_list_widget li a:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-review-link:hover,
.woocommerce .summary .product_meta > span a:hover,
.woocommerce #payment #place_order:hover, 
.woocommerce-page #payment #place_order:hover,
.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover{
	color: $theme_color;
}

ul.wgl-products li a.button.loading, 
ul.wgl-products li button.button.loading:before, ul.wgl-products li input.button.loading,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.product-categories .cat-item a:before,
.woocommerce #respond input#submit.disabled:hover, 
.woocommerce #respond input#submit:disabled:hover, 
.woocommerce #respond input#submit:disabled[disabled]:hover, 
.woocommerce a.button:hover, 
.woocommerce a.button.disabled:hover, 
.woocommerce a.button:disabled:hover, 
.woocommerce a.button:disabled[disabled]:hover, 
.woocommerce button.button:disabled:hover, 
.woocommerce button.button:disabled[disabled]:hover, 
.woocommerce button.button.disabled:hover, 
.woocommerce input.button:hover,
.woocommerce input.button:disabled:hover, 
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce input.button.disabled:hover, 
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woo_product_image .picture:hover a.add_to_cart_button:hover, .woo_product_image .picture:hover a.button:hover,
.woo_product_image .added_to_cart.wc-forward:hover,
.wgl-theme-header .woo_mini-count span{
	background-color: $theme_color;
}

.woocommerce .widget_shopping_cart .buttons a.checkout:hover, 
.woocommerce.widget_shopping_cart .buttons a.checkout:hover,
.woocommerce #respond input#submit.alt, 
.woocommerce #payment #place_order, 
.woocommerce a.button.alt, 
.woocommerce a.button, .woocommerce button.button, 
.woocommerce button.button.alt:hover,
.woocommerce div.product form.cart .button:before,
.woocommerce div.product form.cart .button,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce .cart input.button,
.woocommerce .cart .button, 
.woocommerce .widget_shopping_cart .buttons a,
.woocommerce-page #payment #place_order,
.woocommerce.widget_shopping_cart .buttons a{
	border-color: $theme_color;
	background: $theme_color;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.checkout:hover,
.woocommerce table.shop_table.cart input.button{
	border-color: $theme_color;
	background: $theme_color;
} 

.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.checkout,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce #respond input#submit.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce button.button.alt,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce table.shop_table thead{
	border-color: $theme_color;
}

/* ==================== ##End Theme Color Styles ==================== */


/* ==================== ##Secondary Theme Color Styles ==================== */

.woocommerce table.shop_table tfoot tr.order-total td .woocommerce-Price-amount.amount,
.wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total span,
.woocommerce .widget_shopping_cart .total .woocommerce-Price-amount, 
.woocommerce.widget_shopping_cart .total .woocommerce-Price-amount{
	color: $theme_color;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active, 
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover,
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a.current, 
.woocommerce nav.woocommerce-pagination ul li span.current{
	background: $theme_color;
	border-color: $theme_color;
}

/* ==================== ## End Secondary Theme Color Styles ==================== */

.woocommerce form .form-row .select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-color: $header_font_color transparent transparent transparent;
}

.woocommerce table.shop_table td{
	border-top: 1px solid rgba($hex_theme_content, 0.15);
}